<p>
  <b>Nome:</b>
  <%=h @relatorio.nome %>
</p>

<p>
  <b>Relatorios:</b>
  <%=h @relatorio.relatorios %>
</p>

<p>
  <b>Modelos:</b>
  <%=h @relatorio.modelos %>
</p>


<%= link_to 'Edit', edit_relatorio_path(@relatorio) %> |
<%= link_to 'Back', relatorios_path %>